$theme: #4f4371;

$secondary: #4f518c;
$background: #ffffff;
$accent: #8b9ebf;
$card-color: #fcfcfc;

$logo-color: #114b5f;
$heading: #4f4371;
$sub-heading: #495057;
$font-color: #0f0f0f;

$link-color: #00aadf;
$link-hover: #4361ee;

$CTA: #624cab;
$CTA-hover: "";

$error: red;
